<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Main page</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<h1>Main menu</h1>
<ul>
    <li><a class="a_mmenu_item" href="/client.html">WS Клиент</a></li>
    <li><a class="a_mmenu_item" href="/position_area">Интерфейс смены отображаемой области</a></li>
    <li><a class="a_mmenu_item" href="/save">Сохранение новых координат Транспортного средства</a></li>
    <li><a class="a_mmenu_item" href="/transport_list.html">Список всех транспортных средств</a></li>
</ul>
</body>
</html>